* {
  margin: 0px;
  font-size: small;
}

.film-card {
  margin: 10px;
}


.movie-poster {
  height: 50vh;
  width: auto;
  border-radius: 2px;
  box-shadow:
  0 -1.9px 2.3px rgba(0, 0, 0, -0.007),
  0 -2.9px 4.9px rgba(0, 0, 0, 0.043),
  0 -2.2px 8.6px rgba(0, 0, 0, 0.096),
  0 2.3px 15.7px rgba(0, 0, 0, 0.131),
  /* 0 17.9px 32.7px rgba(0, 0, 0, 0.142),
  0 83px 93px rgba(0, 0, 0, 0.13); */
  0 17.9px 32.7px #58575752, 
  0 41px 93px #787373;
  transition: all .2s ease-in-out;
}

.movie-poster:hover {

  transform: scale(1.1);
}

.movie-info {
  height: 10vh;
  width: auto;
}