.not-found {
  background-color: #1d1d1d;
  color: rgb(206, 206, 206);
  text-align: center;
  padding-top: 5vh;
  height: 95vh;
  width: 44vw;

  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.not-found-text {
  font-size: 1.5em;
  padding: 5px;
  font-weight: 700;

  /* position: absolute; */
  z-index: 10;
  width: 20vw;
}

.not-found-stat {
  position: absolute;
  z-index: 5;
  left: 55.25vw;
  top: 44.5vh;
  font-size: 6.5em;
  font-weight: 700;
  /* margin-right: -230px; */
}

.not-found-logo {
  position: absolute;
  top: 32vh;
  left: 48vw;
  z-index: 1;
}