.not-found {
  background-color: #1d1d1d;
  color: rgb(206, 206, 206);
  text-align: center;
  padding-top: 5vh;
  height: 95vh;
  width: 50vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.not-found-text {
  font-size: 1.5em;
  padding: 5px;
  font-weight: 700;

  /* position: absolute; */
  z-index: 10;
  width: 50vw;
}

/* .not-found-logo {
  position: absolute;
  top: 32vh;
  left: 48vw;
  z-index: 1;
} */

.return-home {
  font-size: 1.5em;
}