/* add styling to ugly search bar */
form {
  position: absolute;
  z-index: 8;
  border-bottom: 2px solid #ccccccbd;
}

.search-bar {
  width: 40vw;
  height: 8vh;
  background: transparent;
  border: none;
  font-size: 2em;
  color: white;
  outline: transparent;
}

.search-bar:focus {
  outline: thick double grey;
}

::placeholder {
  color: #59b959;
}

.clear-btn {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 1.25em;
  cursor: pointer;
  padding-left: 15px;
}

.clear-btn:hover {
  color: #59b959;
}
