.individual-movie-details {
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin-top: 15vh;
}

.individual-movie-poster {
  height: 55vh;
  width: auto;
  border-radius: 3px;
}

.trailer {
}

.details1-container,
.details2-container,
.details3-container {
  width: 100%;
}

.details1-container {
  display: flex;
  justify-content: space-between;
}

.individual-title {
  font-size: 2em;
}

.individual-rating {
  text-align: right;
  font-size: 2em;
}
