header {
  height: 15vh;
  width: 97%;
  background-color:#343A40;
  /* background-color: black; */
  border-bottom: 2px solid #00000040;
}

h1 {
  margin: 0;
}

.logo {
  height: 14vh;
  width: auto;
  margin-left: 25px;
  padding: 5px;
}