main {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 10vh;
}


footer {
  width: 97%;
  border-top: 2px solid #00000040;
  display: flex;
  justify-content: center;
  padding: 10vh 0;
}