main {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 10vh;
  /* need to figure out z-index */
  /* position: relative; */
}

footer {
  width: 97%;
  border-top: 2px solid #8787872b;
  display: flex;
  justify-content: center;
  padding: 10vh 0;
  /* need to figure out z-index */
  z-index: 1;
}

.back-to-top {
  height: 50px;
  position: fixed;
  bottom: 0;
  margin-bottom: 5vh;
  margin-right: 5vw;
  /* need to figure out z-index */
  z-index: 2;
}

.back-to-top-wrapper {
  text-align: right;
  /* need to figure out z-index */
  /* position: relative; */
}
